<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>PHP之道</title>
		<link rel="icon" href="__PUBLIC__/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="__PUBLIC__/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="__PUBLIC__/css/common.css" />
		<style type="text/css">
			.contentLeft ul{overflow: hidden;}
			.contentLeft ul li{width: 100%;overflow: hidden;margin-bottom: 5px;}
			.contentLeft ul li img{float: left;}
			.contentLeft ul li .contentBox{float: left;margin-left: 20px;}
			.contentBox span{color:gray;}
        </style>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/bootstrap/dist/js/bootstrap.min.js" ></script>
		<script type="text/javascript">
			//type值为0，下一页，为-1，上一页，为正到指定页
			function turnPage(pageNo,type){
				var pageNo = parseInt(pageNo);
				if(type == 0){
					pageNo += 1;
					if(pageNo > parseInt('{$page.total}'/10)+1){
						alert('已经是最后一页了！');
						pageNo = parseInt('{$page.total}'/10)+1;
						return;
					}
				}else if(type == -1){
					pageNo -= 1;
					if(pageNo == 0){
						alert('已经是第一页了！');
						pageNo = 1;
						return;
					}
				}else{
					pageNo = type;
				}
				location.href = "__ROOT__/index.php?c=boardPage&a=boardLoad&pageNo ="+pageNo+"&pageNo="+pageNo;
			}
		</script>
	</head>
	<body>
		<!--导航开始-->
		<nav class="navbar navbar-default">
	      	<div class="container">
		        <div class="navbar-header">
		          <a class="navbar-brand" href="__ROOT__/index.php/Home/IndexPage/indexLoad">Yuanrb.com</a>
		        </div>
		        <div id="navbar">
		          <ul class="nav navbar-nav">
		            <li><a href="__ROOT__/index.php/Home/IndexPage/indexLoad">首页</a></li>
		            <li><a href="__ROOT__/index.php/Home/MessagePage/message">资讯中心</a></li>
		            <li><a href="__ROOT__/index.php/Home/WebPage/webLoad">WEB前端</a></li>
		            <li class="active"><a href="#">PHP学习</a></li>
		            <li><a href="__ROOT__/index.php/Home/BoardPage/boardLoad">留言板</a></li>
		            <li><a href="__ROOT__/index.php/Home/Aboutme/aboutme">关于我</a></li>
		          </ul>
		          <!--搜索框-->
		          <div class="nav navbar-nav navbar-right">
		          		<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="请输入">
							</div>
							<button type="submit" class="btn btn-default">搜索</button>
						</form>
		          </div>
		        </div>
	      	</div>
    	</nav>
    	<!-- 本站主体内容 -->
    	<div class="container">
			<div class="row">
				<!--内容左-->
				<div class="col-md-9 contentLeft">
					<ul>
						<volist name="data.rows" id="rows">
							<li>
								<a href="__ROOT__/index.php/Home/ArticleContent/article_content/id/{$rows.id}">
									<img src="__PUBLIC__/img/ace.jpg" width="100px" height="100px" />
									<div class="contentBox">
										<h4>{$rows.title}</h4>
										<span>{$rows.time}</span>
										<p>{$rows.content}</p>
									</div>
								</a>
							</li>
						</volist>
					</ul>
					<!-- 分页 -->
					<nav aria-label="Page navigation" class="text-center">
					  <ul class="pagination">
					  	<li><a href="javascript:void(0);">第{$data.pageNo}页</a></li>
					    <li id="pageLeft">
					      <a href="javascript:turnPage('{$data.pageNo}',-1);" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="javascript:turnPage('{$data.pageNo}',1);">1</a></li>
					    <li><a href="javascript:turnPage('{$data.pageNo}',2);">2</a></li>
					    <li><a href="javascript:turnPage('{$data.pageNo}',3);">3</a></li>
					    <li><a href="javascript:turnPage('{$data.pageNo}',4);">4</a></li>
					    <li><a href="javascript:turnPage('{$data.pageNo}',5);">5</a></li>
					    <li>
					      <a href="javascript:turnPage('{$data.pageNo}',0);" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					    <li><a href="javascript:void(0);">共{$data.total}条数据</a></li>
					  </ul>
					</nav>
				</div>
				<!--内容右-->
				<div class="col-md-3 contentRight">
					<h3>tips</h3>
					<ul>
						<li><a href="#">tips1</a></li>
						<li><a href="#">tips1</a></li>
						<li><a href="#">tips1</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--footer-->
      	<div class="container footer">
      		<span>QQ : 1433210198 &nbsp; mail : NGXZ92@163.COM</span>
    		<span>Copyright © 2010 - 2017  南广轩主Yuanrb.com 版权所有</span>
      	</div>
	</body>
</html>
